go 1.22.0

replace github.com/ugorji/go v1.1.4 => github.com/ugorji/go/codec v0.0.0-20190204201341-e444a5086c43

use (
	./backend
	./connectors/awsiot
	./core
	./engines/crypto/aws
	./engines/crypto/filesystem
	./engines/crypto/pkcs11
	./engines/crypto/vaultkv2
	./engines/eventbus/amqp
	./engines/eventbus/aws
	./engines/eventbus/channel
	./engines/storage/couchdb
	./engines/storage/postgres
	./engines/storage/sqlite
	./monolithic
	./sdk
	./shared/aws
	./shared/http
	./shared/subsystems
)
