go 1.22.0

use (
	
	./awsiotconnector
	./backend
	./shared/aws
	./shared/core
	./shared/sdk
	./shared/subsystems
	./shared/http
	./engines/crypto/aws
	./engines/crypto/filesystem
	./engines/crypto/pkcs11
	./engines/crypto/vaultkv2
	./engines/eventbus/amqp
	./engines/eventbus/aws
	./engines/eventbus/channel
	./engines/storage/couchdb
	./engines/storage/postgres
	./engines/storage/sqlite
	./monolithic
	
)
