name: Master Workflow

on:
  push:
    branches:
      - main

jobs:
  tag_generator:
    name: Tag Generator
    runs-on: ubuntu-latest
    outputs:
      new-tag: ${{ steps.tag_version.outputs.new_tag }}
      new-version: ${{ steps.tag_version.outputs.new_version }}
    steps:   
      - name: Automatic Tag (Bump version and push tag)
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches : "main"

  build_ca_docker_image:
    name: CA - Release docker images
    runs-on: ubuntu-latest
    needs:
      - tag_generator
    steps:        
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build CA docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/ca.dockerfile
        build-args: |
          BASE_IMAGE=alpine:3.14
        tags: |
          lamassuiot/lamassu-ca:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-ca:latest
        push: true

  build_device_manager_docker_image:
    name: Device Manager - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Device Manager docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/device-manager.dockerfile 
        build-args: |
          BASE_IMAGE=alpine:3.14
        tags: |
          lamassuiot/lamassu-device-manager:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-device-manager:latest
        push: true

  build_dms_manager_docker_image:
    name: DMS Manager - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build DMS Manager docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/dms-manager.dockerfile
        build-args: |
          BASE_IMAGE=alpine:3.14
        tags: |
          lamassuiot/lamassu-dms-manager:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-dms-manager:latest
        push: true

  build_ocsp_docker_image:
    name: OCSP - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build OCSP docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/ocsp.dockerfile
        build-args: |
          BASE_IMAGE=alpine:3.14
        tags: |
          lamassuiot/lamassu-ocsp:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-ocsp:latest
        push: true

  build_cloud_proxy_docker_image:
    name: Cloud Proxy - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Cloud Proxy docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/cloud-proxy.dockerfile 
        build-args: |
          BASE_IMAGE=alpine:3.14
        tags: |
          lamassuiot/lamassu-cloud-proxy:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-cloud-proxy:latest
        push: true

  build_lamassu_db_docker_image:
    name: DB - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build DB docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/database.dockerfile 
        tags: |
          lamassuiot/lamassu-db:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-db:latest
        push: true

  build_lamassu_alerts_docker_image:
    name: Alerts - Release docker images
    runs-on: ubuntu-latest
    needs:
    - tag_generator
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build DB docker image
      uses: docker/build-push-action@v2
      with:
        file: ci/alerts.dockerfile 
        tags: |
          lamassuiot/lamassu-alerts:${{ needs.tag_generator.outputs.new-version }}
          lamassuiot/lamassu-alerts:latest
        push: true